@inherits LayoutComponentBase

<div class="page" style="background-color:lightgray">
    <main>
        <RadzenLayout class="rz-shadow-3">
            <RadzenHeader>
                <div class="d-flex align-items-center">
                    <RadzenLabel Text="Header" />
                </div>
            </RadzenHeader>
            <RadzenBody>
                @Body
            </RadzenBody>
        </RadzenLayout>
    </main>
</div>
<RadzenContextMenu/>
<RadzenDialog/>
<RadzenNotification/>
<BlazoredModal/>
