@page "/{id}"
@using System.Text;
@inject IGrupoService grupoService

@if(Grupos == null)
{
    <p>Carregando...</p>
}
else
{
    @foreach (var g in Grupos)
    {
        <RadzenPanel AllowCollapse="true" Collapsed="true" class="rz-mx-6 rz-mb-4">
            <HeaderTemplate>
                <RadzenRow>
                    <div class="col col-2">
                        <RadzenIcon Icon="facebook"/>
                    </div>
                    <div class="col col-10">
                        <h2 class="m-0 d-flex align-items-center">
                            <b>@g.Ds_grupo.Trim()</b>
                        </h2>
                    </div>
                </RadzenRow>
            </HeaderTemplate>
            <ChildContent>   
            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 border" >
                @foreach(var prod in g.Produtos)
                {
                        <div class="col" style="margin-bottom: 1rem; margin-top: 1rem">
                        <RadzenCard>
                            <div class="row row-cols-auto">
                                <div class="col">
                                    <RadzenImage Path="icon-192.png" Class="rounded-circle float-start me-3" Style="width: 80px; height: 80px;" />
                                </div>
                                <div class="col">
                                    <h6 class="mb-0">@prod.Ds_produto</h6>
                                    <div style="font-size: .8em">@prod.Composicao</div>
                                </div>
                            </div>
                            <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                            <RadzenRow>
                                <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text=@($"{String.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:C}", prod.PrecoVenda)}") />                                
                            </RadzenRow>
                        </RadzenCard>
                    </div>
                }
            </div>

            </ChildContent>
            <SummaryTemplate>
                <RadzenCard class="mt-3">
                    <b>@g.Produtos.Count() Produtos</b>
                </RadzenCard>
            </SummaryTemplate>
        </RadzenPanel>
    }
}

@code{
    [Parameter]
    public string Id { get; set; } = string.Empty;
    private IEnumerable<Grupo>? Grupos;

    protected override async Task OnInitializedAsync()
    {
        Grupos = await grupoService.GetGruposAsync(Id);
    }
}